extends ./layout/default

block title
    title koa-views and pug

block content
    .container
        .row
            .col-md-8
                h1 Hello #{name}
            .col-md-4
                p dynamic pug page